* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#welcomeMessage {
    position: relative;
    left: 119px;
    color: black;
    background-color: #ffc107;
    width: 36%;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 15%;;
    text-align: center;
    font-size: 13px;
}


body {
    background-color: #f8f9fa;
}

#container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.form {
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 800px;
    background: #202945;
    padding: 5px;
    transition: .5s;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.button {
    width: 210px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0px 0px 1px white;
    background-color: #ffc107;
    border-radius: 30px;
}


#particle-div {
    /* z-index: 0; */
    background: fixed;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.btn {
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: none;
    position: relative;
    /* box-shadow: 0 0px 2px 1px black; delete later */
}

#btn-color {
    top: 0;
    left: 0;
    position: absolute;
    width: 55%;
    height: 100%;
    background-color: #202945;
    /*background: linear-gradient(to right, #ff512f, #dd2476);*/
    border-radius: 30px;
    transition: .5s;
}

.socials {
    margin-top: 30px;
    text-align: center;
}

.fab {
    position: relative;
    margin: 0px 7px;
}

a {
    color: white;
}

.fb:hover {
    color: blue;
}

.in:hover {
    color: #ff512f;
}

.tw:hover {
    color: #1DA1F2;
}

.input-group {
    margin-top: 30px;
    width: 280px;
    position: absolute;
    transition: .5s;
    text-align: center;
}

.input-field {
    color: white;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid;
    outline: none;
    background: transparent;
}

.input-field1 {
    color: white;
    width: 100%;
    padding: 10px 0;
    margin: 2px 0;
    border: 0;
    border-bottom: 1px solid;
    outline: none;
    background: transparent;
}

#club_options {
    color: white;
    width: 100%;
    height: auto;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid;
    outline: none;
    background: transparent;
}

option {
    background-color: #202945;
}

#club_categories { 
    margin-top: 3%;;
    padding: 2px;
    color: white;
    outline: none;
    border: 0;
    background: transparent;
}

.label_text {
    font-size: 12px;
    margin-bottom: 5px;
}

.submit-btn {
    display: inline-block;
    width: 40%;
    padding: 10px 30px;
    margin-top: 10px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: transparent;
    background-color: #ffc107;
    color: black;
    border-radius: 30px;
    box-shadow: 0 0px 0px 1px white;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    font-size: 12px;
}

#createClub {
    left: 50px;
}


label {
    font-size: 12px;
    margin: 0;
}

/*placeholder text*/
::placeholder {
    color: white;
}

.welm {
    padding: 9px;
}

.dt {
    margin-top: 3%;;
}